<footer>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 d-flex flex-wrap justify-content-between mt-5">
            <div class="col f-info-socials my-5">
                <h2 style="color: #C9A96E;">STAYNÈST</h2>
                <div>
                    <p class="foot-p">Curating exceptional experiences in the world's most
                        sought-after
                        destinations.
                        Where luxury meets
                        legacy.</p>
                </div>
                <div class="d-flex social-media jc-between my-2">
                    <i class="fa-brands fa-facebook d-flex jc-center ai-center"></i>
                    <i class="fa-brands fa-x-twitter d-flex jc-center ai-center"></i>
                    <i class="fa-brands fa-instagram d-flex jc-center ai-center"></i>
                </div>
            </div>
            <div class="col f-info-brands my-5">
                <div class="navbar-logo foot-item"><b style="color: #C9A96E;">DISCOVER</b></div>
                <div><a href="#" class="foot-item">Our Destinations</a></div>
                <div><a href="#" class="foot-item">Residences</a></div>
                <div><a href="#" class="foot-item">Dining Experiences</a></div>
                <div><a href="#" class="foot-item">Wellness & Spa</a></div>
                <div><a href="#" class="foot-item">Private Events</a></div>
            </div>
            <div class="col f-info-brands my-5">
                <div class="navbar-logo foot-item"><b style="color: #C9A96E;">COMPANY</b></div>
                <div><a href="#" class="foot-item">About Us</a></div>
                <div><a href="#" class="foot-item">Careers</a></div>
                <div><a href="#" class="foot-item">Press Room</a></div>
                <div><a href="#" class="foot-item">Investors</a></div>
                <div><a href="#" class="foot-item">Sustainability</a></div>
            </div>
            <div class="col f-info-links my-5">
                <div class="navbar-logo foot-item"><b style="color: #C9A96E;">Stay Connected</b></div>
                <p class="foot-p">Subscribe to our newsletter for exclusive offers and inspiration.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <hr>
    </div>
    <div class="container d-flex jc-between my-4 flex-wrap">
        <p class="f-s">&copy; 2026 StayNèst Hotels & Resorts. All rights reserved.</p>
        <div class="f-s">
            <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Cookie Policy</a>
        </div>
    </div>
</footer>