<footer>
    <div class="f-info d-flex jc-center ai-center">
        <div class="f-info-socials d-flex jc-center ai-center">
            <i class="fa-brands fa-facebook d-flex jc-center ai-center"></i>
            <i class="fa-brands fa-x-twitter d-flex jc-center ai-center"></i>
            <i class="fa-brands fa-instagram d-flex jc-center ai-center"></i>
        </div>
        <div class="f-info-brands">&copy;Stay Nest Private Limited&trade;</div>
        <div class="f-info-links d-flex jc-center ai-center">
            <section>&CenterDot;<a href="/privacy">Privacy</a></section>
            <section>&CenterDot;<a href="/terms">Terms</a></section>
        </div>
    </div>
</footer>