<% layout("layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="alert alert-danger col-8 offset-2 mt-3" role="alert">
                <p style="text-align: center;"><%= message %></p>
            </div>
        </div>
    </body>